[2020-07-10 03:27] rolandothedev opened #5 "Worker service"
When used from a worker service the following exception is thrown:

[code]

I did add the reference to the Razor Template Library:

[code]

Perhaps an example can be added to the examples folder using a worker service?

[2020-07-11 08:14] soundaranbu commented on #5
Hi @rolandothedev , Thanks for taking your time to report the issue. I've fixed this & created a new release `v1.2.0`.
Please update the library & try again.

[2020-08-25 22:00] litan1106 opened #6 "The tests failed"
The examples ran fine but the tests failed.

![image](https://user-images.githubusercontent.com/1310539/91232242-97fb1280-e6e3-11ea-936d-86179b499104.png)

[2020-08-26 18:03] litan1106 commented on #6
Never mind, the tests ran fine on dotnet but failed in JetBrains Rider and Visual Studio with Resharper because the Rider TestRunner is located in a different location.
[code]

[2020-08-27 05:25] #5 closed

[2020-08-27 05:42] soundaranbu commented on #6
Hi @litan1106 , Thanks for reporting the issue & fixing it as well. You're awesome!
I'll review the changes, do some test & make a new release as soon as possible.

[2020-08-27 14:04] litan1106 commented on #6
Thanks for the great library. Best solution I have seen so far.

[2020-08-27 14:04] #6 closed

[2020-09-21 15:10] litan1106 commented on #6
@soundaranbu I am waiting for the new release.

[2020-09-21 17:01] soundaranbu commented on #6
Hi @litan1106, I thought this issue is affecting only when working with the source code (running the test cases in Rider)... So I was waiting for any new changes to arrive... If it is an issue when using the library itself in projects, I'm making a new release right away

[2020-09-21 17:16] soundaranbu commented on #6
Published new release. Thanks @litan1106
https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.2.1
https://www.nuget.org/packages/Razor.Templating.Core/1.2.1

[2020-10-15 21:42] flgatormike opened #8 "Layout page gets loaded with the partial view"
When I calll RazorTemplateEngine.RenderAsync, the string that is returned includes my layout page. I'm wondering if this is by design, and if so, how can I specify a different layout page to use?

[2020-10-16 08:26] soundaranbu commented on #8
Hi @flgatormike , the razor rendering works the same way as the ASP.NET Core MVC.
In your case, if you have `~/Views/_ViewStart.cshtml` in your project like below
[code]
then, the partial view or view will inherit this layout file _when you render it directly._

In order to overcome this, **either remove the  `~/Views/_ViewStart.cshtml` file** or **add the following in your partial view or view fi

[2020-10-18 23:27] mikes-gh opened #9 "net5.0"
Great to see this common use case packaged and tested and professionally built.
Do you have plans for a net5.0 version

[2020-10-19 05:36] SoundarRBT commented on #9
Hi @mikes-gh , Thanks for recognizing this library and YES! I do have plans for .NET 5 which is currently in RC2.
I'm planning to release on the day of release of live version of .NET 5 which is expected to be in November.
Keep supporting :) Thanks!

[2020-10-19 05:38] soundaranbu commented on #9
Hi @mikes-gh , Thanks for recognizing this library and YES! I do have plans for .NET 5 which is currently in RC2.
I'm planning to release on the day of release of live version of .NET 5 which is expected to be in November.
Keep supporting :) Thanks!

[2020-11-10 10:43] anddrzejb opened #10 "Inject services into a view"
I was trying to load a service from DI into a view using ```@inject``` but it does not work. I get an error ```No service for type 'Microsoft.Extensions.Configuration.IConfiguration' has been registered.'```.
 What I was trying to get was ```Microsoft.Extensions.Configuration.IConfiguration``` service, so I can get some data directly for one of the partial views (namely location of a logo for my r

[2020-11-10 18:11] litan1106 commented on #9
.net5 released today

[2020-11-11 08:37] soundaranbu commented on #10
Hi @anddrzejb, definitely I'll look into this use case.
In the mean time, if you wish, you can use the conventional approach which is passing all the required data to the view using the View Model as [shown here](https://github.com/soundaranbu/RazorTemplating#simple-usage)

[2020-11-11 09:19] soundaranbu commented on #9
Yeah @litan1106 , I'm on it.

[2020-11-11 16:03] litan1106 commented on #9
Awesome, I think you have the best razor template library.

[2020-11-13 07:49] soundaranbu commented on #9
Thanks!. As far as I've tested this library(v1.2.1) against net5.0, it works as intended. So the existing users can continue using the latest version(v1.2.1) for .NET 5 as well until any issues are found and fixed.

[2020-11-13 15:55] litan1106 commented on #9
Sounds good. I will remove the .net core 3.0 tests and add .net 5 tests

[2020-11-14 12:12] soundaranbu commented on #9
Thanks for your contribution. I'll check & merge the changes

[2020-11-17 18:16] soundaranbu commented on #8
I hope the above information is helpful. Closing the issue. Feel free to re-open if required.

[2020-11-17 18:16] #8 closed

[2020-11-17 18:21] soundaranbu commented on #9
New version released with .NET 5 support and other enhancements.  :tada:
Please find the release notes here: https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.3.0

Available in NuGet. Give it a spin. Keep supporting :)

[2020-11-17 18:21] #9 closed

[2020-11-17 19:00] litan1106 commented on #9
Thank you for the hard work

[2020-11-19 07:58] anddrzejb commented on #10
Thanks for your response. Unfortunately I did not like your solution. I do not think model should be polluted with data not related to the model itself. So what I did, I created my own ```RazorTemplateEngine```, based mainly on what you did, except it is not a static
 class and it is injected as a scoped service. I realise this is probably less universal, but my needs are limited only to ASP.NET C

[2020-11-19 10:51] soundaranbu commented on #10
Glad that you found a workaround. I'm already trying to add this feature to the library specific to ASP.NET Core. You can expect it in the next release.
Between, where are your view files located? Is it in the same project(ASP.NET Core) or in separate Razor Class Library(RCL)

[2020-11-19 12:35] anddrzejb commented on #10
I was just migrating to 5.0 and I noticed your change screwed me, because you made ```RazorViewToStringRender``` internal.

Regarding my project (for reporting) - for the time being I have 2 RCL libraries - 1 that provides base classes and basic layouts and partial views, and another that contains my report templates. The service installer is in the 1 project with base classes. Then I use the repo

[2020-11-19 16:58] soundaranbu commented on #10
I'm sorry to hear that making `RazorViewToStringRender` as internal made your life difficult. The reason is to expose only the necessary apis to the public as it was created only for internal use. I apologize for doing it so lately.

In your case, If I can add support for injecting services into a view in ASP.NET Core, would that class still be necessary to be public?

[2020-11-19 18:29] anddrzejb commented on #10
I suppose not. I needed it as public because I was still using it in my own ```RazorTemplateEngine```. Once you made it internal - I could no longer use it. So now basically I made my own (albeit based on what you made). So now I have both ```RazorTemplateEngine``` and ```RazorViewToStringRenderer``` as part of my project. You could say I do not really need your nuget, but if you are going to fix

[2020-11-19 20:02] soundaranbu commented on #10
Example for `_ViewImports.cshtml` is here https://github.com/soundaranbu/RazorTemplating/commit/ce1696da6c2e9d082ac4554e3171f556c96cac61

[2020-11-19 21:23] soundaranbu commented on #10
Released new pre-release version to NuGet https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.4.0-rc.1

Try it out & let me know. Thanks!

[2020-11-20 11:39] anddrzejb commented on #10
Thanks for your great work. I tried your nuget and with just additional wrapper on top of your static ```RazorTemplateEngine``` I was able to switch very fast. Although I am not a big fan of static classes, I think I can live with it in this case. Unless it becomes a pain during tests.
The ```_ViewImports.cshtml``` example seems trivial and I thought I tried it, but it did not work for me. Probabl

[2020-11-20 11:39] #10 closed

[2020-11-20 13:03] SoundarRBT commented on #10
Glad it worked. Thanks! Keep Supporting :)

[2020-11-20 13:11] soundaranbu commented on #10
Glad it worked. Thanks! Keep Supporting :)

[2020-12-24 18:16] Cable11 opened #13 "Partial Views / Same Folder"
Greetings,

I have a view with a layout, using a partial view located in the same folder as the view using it

View - /Views/Reports/Opportunities.cshtml
Partial - /Views/Reports/_opportunity.cshtml
Layout - /Shared/Email.cshtml

But I get the following error -

InvalidOperationException: The partial view '_opportunity' was not found. The following locations were searched: /Views/_opportunity.csht

[2020-12-25 06:08] soundaranbu commented on #13
Hi @Cable11, I'll try this out & let you know.

[2020-12-25 09:05] soundaranbu commented on #13
I looked at this... it's already working with the views & partial views in the same folder. Kindly refer to the test case here
https://github.com/soundaranbu/RazorTemplating/blob/d63d017373360da3573499b43267a7a5c82f501f/test/Razor.Templating.Core.Test/RazorViewToStringRendererTest.cs#L23

and the view file used in the above test case can be found here

https://github.com/soundaranbu/RazorTemplatin

[2020-12-29 03:25] Cable11 commented on #13
Here is a quick test project to demonstrate. The view in the razor class library works fine in the web app, can't be found in the console app.

It does work if located in the shared directory (also included in attached proj)
[WebApplication1.zip](https://github.com/soundaranbu/RazorTemplating/files/5749497/WebApplication1.zip)
.

[2020-12-29 13:55] soundaranbu commented on #13
Hi @Cable11, I checked your sample. Add extension to your partial views, then it will work.
Change `@await Html.PartialAsync("_testPartial")` to `@await Html.PartialAsync("_testPartial.cshtml")`

P.S: I'm not sure how it works without extension in web app as I haven't gone into the internals of Razor SDK yet. But adding the file extension works in both web & console app.

[2020-12-29 23:20] Cable11 commented on #13
Ok - thanks. That was the issue at hand - having to change the logic that previously exists to use your package (when it works normally without using the .cshtml).

Thanks for adding it to your list! :-)

[2021-02-03 18:14] Nonobis opened #14 "Use bootstrap"
Hello,

I use your nuget to prepare html for a report then convert it to pdf. It's working but it's really ugly
I want to add bootstrap in my razor view for customize html.

I have tried to add css / js like this withouh success

`
    @section styles{
        <link rel="Stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    }
    @section scripts{
        <script src

[2021-02-05 13:55] soundaranbu commented on #14
Hi @Nonobis, thanks for asking. I'll try this & let you know.

[2021-02-08 03:27] soundaranbu commented on #14
@Nonobis Which library are you using to convert HTML to PDF?

[2021-02-08 20:54] Nonobis commented on #14
I am on a  project on NetCore 3.1, the lib is  HtmlToPDFCore.

https://github.com/cvizzini/HtmlToPdfCore

[2021-02-09 16:52] Nonobis commented on #14
@soundaranbu : For a few reason, i have migrated to this library (more parameters), Haukcode.WkHtmlToPdfDotNet
https://github.com/HakanL/WkHtmlToPdf-DotNet i don't known if it's changing something for your lib.

[2021-02-10 06:04] soundaranbu commented on #14
It does works for me using the above library. As far our library renders string out of cshtml, it's job is done.. After that it's in the hand of the HTML to PDF Converter library.
Try this in your cshtml: Got it from https://dev.to/dshannon/create-a-responsive-bootstrap-invoice-21n6
[code]
 console .csproj
[code]

in your console application
[code]
Let's look at the generated PDF

![image](https:/

[2021-02-10 08:28] Nonobis commented on #14
Thank you, i will try your solution.

[2021-02-10 15:40] Nonobis commented on #14
It's working. Thanks

[2021-02-10 15:40] #14 closed

[2021-02-12 11:26] awatertrevi opened #15 "Support for Azure Functions"
Hi!

First off, thank you for the great library (makes things a lot simpler).
I would love to see support for Azure functions.

Currently when using it there I get the following exception:

`Unable to resolve service for type 'Microsoft.Azure.WebJobs.Script.IFileLoggingStatusManager'`

I currently managed to set it up using the following sample: https://github.com/EtiennePeeters/AzureFunctionsRazo

[2021-02-12 18:43] soundaranbu commented on #15
Hi @awatertrevi, Thanks for taking your time to raise the issue & giving the solution as well. Definitely, I'll investigate into this & bring the support as soon as possible.

Keep supporting :)

[2021-02-17 14:03] Benexx opened #16 "[BUG] .NET 5 keeps increasing the memory usage when using razor files"
Rendering the razor file keeps adding to the memory. For the example I use a file that generates an output of 10MB so you see the change in memory. When returning a View() there isn't a problem but when we use the RazorTemplateEngine it keeps adding to the memory. I tried to find the problem myself but I cannot find the issue.

**Test1**
When using Test1() the memory increases but is stable afterw

[2021-02-17 16:44] soundaranbu commented on #16
Interesting! I'll try to replicate & fix the issue.
Thanks for taking your time to debug & give detailed information.

[2021-02-19 14:16] soundaranbu commented on #16
Hi @Benexx , I've fixed the issue. If possible you can checkout the latest master & test. Otherwise, I'll be releasing a preview version this weekend anyway. You can test using that. Thanks

[2021-02-19 15:25] Benexx commented on #16
A thanks! I'll test it maybe this weekend or else on Monday! Thanks for the quick response!

[2021-02-22 12:24] Benexx commented on #16
I have tested the memory usage and the problem seems to be solved! Thanks again for the quick response!

[2021-02-23 03:31] soundaranbu commented on #16
That's good to know! I'll make a release for this fix

[2021-02-27 04:42] soundaranbu commented on #16
**Update:**
New version [v1.5.0](https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.5.0) with the fix has been released
A much thanks to @Benexx for spotting this issue 💯🥇

[2021-03-02 12:38] #16 closed

[2021-03-14 05:29] mauricioferrazs opened #17 "Convert just partialview"
Hello, I would like to know if it is possible to convert only the content of a partial view to a string?

I did a test here but it converts the entire page.

Thanks.

[2021-03-14 05:40] mauricioferrazs commented on #17
Sorry man, I found in closed issue.

@{
    Layout = "_Layout";
}

This is worked thanks.

[2021-04-14 11:38] soundaranbu commented on #17
Glad that you found the answer!

[2021-04-14 11:38] #17 closed

[2021-05-05 21:48] kmcguinn-caravan opened #18 "View Components Support"
First of all, just wanted to say that this library is awesome. Thank you for all the hard work. I'm pulling over some razor views from an existing solution that utilizes view components, and I'm having some problems getting the renderer to recognize them. I'm getting the follow error when I try to render a view that uses a view component. I've checked to be sure the ViewComponent suffix was there

[2021-05-07 07:48] soundaranbu commented on #18
Hi @kmcguinn-caravan, thanks for reporting the issue. I'll take a look at this. If possible, can you upload a sample project or add code snippets so that it's easier to identity & fix the issue?

[2021-05-07 14:26] kmcguinn-caravan commented on #18
Thanks @soundaranbu. I've created a simple project that illustrates the issue. There's a Razor Class Library with a single view and view component, a console app that uses the `RazorTemplateEngine` to render the view (throws error I referenced above), and a sample MVC web application that references the class library and renders the view and view component successfully. Let me know if you have any

[2021-05-09 12:20] soundaranbu commented on #18
Thanks @kmcguinn-caravan for taking your time to put this together. This helped me to fix the issue. I'll make a pre-release after doing some test.

[2021-05-12 12:34] kmcguinn-caravan commented on #18
@soundaranbu did you have an ETA when this fix would be available as a pre-release? I'm trying to decide whether to wait for the fix or implement a workaround for the time being. Thanks again for being so responsive.

[2021-05-13 05:50] soundaranbu commented on #18
Hi @kmcguinn-caravan , sorry for making you wait for the pre release. It's just that I'm not getting enough time on the weekdays due to office workloads.
Anyway I'll try to make a pre release today. Thanks!

[2021-05-13 06:40] soundaranbu commented on #18
New preview version `v1.6.0-rc.1` has been released https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.6.0-rc.1
Kindly try it out & let me know if it works or breaks

Thanks!

[2021-05-13 13:33] kmcguinn-caravan commented on #18
No worries @soundaranbu, thanks again for the quick turnaround. Unfortunately, it looks like the views from the Razor Class Library are not being found. This is the error I get in the sample project:

`Unable to find view '~/Views/Home/Index.cshtml'. The following locations were searched:
~/Views/Home/Index.cshtml`

[2021-05-14 05:54] soundaranbu commented on #18
oops.. I'll look into this

[2021-05-14 07:14] soundaranbu opened #20 ".NET 6 Support"

[2021-05-14 07:27] soundaranbu commented on #20
Asked for help to the ASP.NET Core team as there's a breaking change to our library with the introduction of https://github.com/aspnet/Announcements/issues/459
Help Link:
https://github.com/dotnet/aspnetcore/issues/31578#issuecomment-841066601

[2021-05-14 11:07] soundaranbu commented on #18
I've pushed a new version `v1.6.0-rc.2`  @kmcguinn-caravan
Kindly remove the [these]( https://github.com/kmcguinn-caravan/RazorTemplatingViewComponents/blob/52e375f7672dda2d5547652082f65013b5c43ebd/RazorTemplatingViewComponent/RazorTemplatingViewComponent.csproj#L12-L14) lines in your repository

and update the version in [this](https://github.com/kmcguinn-caravan/RazorTemplatingViewComponents/blo

[2021-05-14 11:10] soundaranbu commented on #15
Hi @awatertrevi , I've added support for azure functions in the preview release `v1.6.0-rc.2`.
If possible, kindly give it a try and let me know if that works or not.

[2021-05-14 13:16] kmcguinn-caravan commented on #18
Hey @soundaranbu, that looks to have gotten past the previous errors, but now I'm seeing the following error when passing a model to the view component. I've updated the sample project to recreate the issue.

`The model item passed into the ViewDataDictionary is of type 'RazorTemplatingViewComponent.Views.Shared.Components.SomeComponent.SomeModel', but this ViewDataDictionary instance requires a m

[2021-05-14 21:12] MarcosxDeveloper opened #21 "Project with RazorTemplating dont start after publish in IIS"
Web Error: HTTP error 503
Exception: Cant Locate System.Runtime

[2021-05-15 07:06] soundaranbu commented on #18
Ok I'll look into it

[2021-05-15 07:09] soundaranbu commented on #21
Hi @MarcosxDeveloper, kindly let me know the following details
Package version: ?
.NET Version: ?

[2021-05-16 08:26] soundaranbu commented on #21
@MarcosxDeveloper , I've tried with Razor.Templating.Core 1.5.0 & 1.6.0-rc.2 with .NET Core 3.1 and ASP.NET Core Module installed in IIS. But I couldn't replicate the issue. If you can provide any sample project that works and one that doesn't work will be helpful to move forward with this issue.

[2021-05-16 13:24] MarcosxDeveloper commented on #21
hello @soundaranbu!

I used Razor.Templating.Core 1.6.0-rc.2 with .NET Core 5.0 and ASP.NET Core Module installed in IIS.

I think the problem is in the <framework-reference> line of the razor project.

Since in the development environment using the sdk it works fine.

[2021-05-16 13:35] soundaranbu commented on #21
Ok then I'll try with .NET 5

[2021-05-16 13:36] soundaranbu commented on #21
Ok then I'll try with .NET 5

[2021-05-16 14:49] soundaranbu commented on #21
It works with .NET 5 as well @MarcosxDeveloper
You can clone this repository & try this mvc project https://github.com/soundaranbu/RazorTemplating/tree/master/examples/Mvc/ExampleWebApp.Net5_0

[2021-05-17 07:43] soundaranbu commented on #18
For some reason, the same code works in net5.0
Not sure why this occurs in netcoreapp3.1
I'll need some time to debug the difference. For the time being, if possible you can upgrade to net5.0  to get this feature working. @kmcguinn-caravan

[2021-05-17 12:23] kmcguinn-caravan commented on #18
@soundaranbu I can confirm it does appear to be working when I upgrade to .net5.0. Since this feature is running in it's own project, this should be fine. Thank you again for all the help!

[2021-05-17 14:00] MarcosxDeveloper commented on #21
thank you @soundaranbu,

I shared my error exception for more details about this issue.

[code]

[2021-05-17 14:24] soundaranbu commented on #21
It looks like the stack trace don't have any references to Razor.Templating.Core library.

If you can submit a sample project that has this issue, I'll be able to look at it. @MarcosxDeveloper

[2021-05-17 14:45] MarcosxDeveloper commented on #21
thank you @soundaranbu

I found the problem in the project publish profile.

now the project is perfectly working.

[2021-05-17 14:48] MarcosxDeveloper commented on #21
another question

Can I add the razor views in an existing library project and not in a separate razor project?

I was trying and when running the project it did not find the views.

[2021-05-17 15:24] soundaranbu commented on #21
You can. But you need to target `Microsoft.NET.Sdk.Razor` SDK for your existing library.

[2021-05-17 15:55] MarcosxDeveloper commented on #21
thank you for all.

I am currently using clean architecture in my project

Sample:

[code]

but seeing that this package only works with razor class library i changed to:

[code]

[2021-05-18 14:48] #21 closed

[2021-05-18 14:49] soundaranbu commented on #18
Glas to know. Thanks!

[2021-05-18 14:51] soundaranbu commented on #20
Found an alternative way to fix on our own
https://github.com/dotnet/aspnetcore/issues/31578#issuecomment-841834166

[2021-06-22 12:07] anddrzejb opened #25 "DI Scoped service"
I have been successfully using your library in my prod env. Thank you for your great work on this!
However I have an issue, that maybe you can shed some light on.
My scoped services are available in the views but apparently in a different scope. So whatever data is loaded to them in my blazor app, when I get them from the views, the service is instantiated again. Do you know how can I get services

[2021-06-24 05:02] soundaranbu commented on #25
Hi @anddrzejb ,I'll look into this.. If possible you can send me a sample project. That will be helpful to debug the issue.

[2021-06-24 06:38] anddrzejb commented on #25
No problem. [Here is the minimal repro](https://github.com/anddrzejb/RazorTemplatingScopedDI).
In `Common` project there is a class `AppState` that is added to DI as scoped. It has its property `ManuallySetProperty` initialized in the `Index.razor`. You can see the property is still initialized in `Counter`. But when it is requested in the view, it is set to `null`.

![scoped-issue](https://user-i

[2021-06-25 05:33] soundaranbu commented on #25
Thanks for this! I'll look into it this weekend & let you know :)

[2021-07-06 16:16] soundaranbu commented on #25
Update:
I'm quite surprised that the library works with .NET 6+Blazor Server which is in my to do list to test.
Okay coming to the issue, I found & fixed it for app models that uses scoped DI in http context (mvc, api) but blazor seems to be little tricky with scoped dependencies. Because In addition to http context, blazor server components use circuits over SignalR and they have their own scope

[2021-07-06 16:34] anddrzejb commented on #25
That is what I do now. But, as you may realize, is quite uncomfortable. I actually have to prep a number of dtos with common data. Anyway, I will be waiting for your solution. Thanks a lot for this great lib!

[2021-07-20 05:45] gr8tushar opened #26 "Razor View as an input string"
Hi,
This library looks great.
However, I see that it might be a great to have a feature where in, instead of just reading the views from a folder, one should be able to pass it to the function.
Use case:
In case one would want to allow the user to edit the template, they same would not necessarily be save at the same place. It might be pulled from a blob, DB or any other location.

Thanks.

[2021-07-21 04:29] soundaranbu commented on #26
Hi @gr8tushar, that sounds like an interesting use case. However, as far as I know, I doubt this can be achieved as this library is just an abstraction of ASP.NET Core Razor engine which expects the razor view file path as input.
Anyhow, I'll still check the possibilities & let you know. Thanks :)

[2021-07-21 05:47] gr8tushar commented on #26
Hi @soundaranbu, yup. This would be great if one would want to send out emails using console / background services via the templates customized in the web app / other places.
More over, if the user customized a template, it would probably not be available in the compiled file / views folder. I would come either from the user directory / DB / BLOB.

Let me know in case you need more info. Would be

[2021-07-24 01:32] eb-mikegorecki opened #27 "Unhandled exception. System.BadImageFormatException: Could not load file or assembly 'System.Runtime"
Hello,

Loving the easy implementation of this library so far. I am able to get the project to work locally. When I do a docker build I am running into this error.

I currently have a console application project set up like this.

Email.sln
------------ Template.project
---------------- Templates
-------------------- TestTemplate.cshtml
-------------------- TestTemplateModel.cs
------------ Consol

[2021-07-24 16:56] soundaranbu commented on #27
Hi @eb-mikegorecki ..I'll try it & let you know. Between what version of the library are you using?

[2021-07-24 18:14] eb-mikegorecki commented on #27
I tried between version 1.3.0 and latest. Pretty much anything that supported dotnet 5.

[2021-07-25 14:38] soundaranbu commented on #27
Hi @eb-mikegorecki, I've committed [dockerfile](https://github.com/soundaranbu/RazorTemplating/blob/master/examples/Console/ExampleConsoleApp.Net5_0/Dockerfile) for [example console project](https://github.com/soundaranbu/RazorTemplating/tree/master/examples/Console/ExampleConsoleApp.Net5_0) in .NET 5.

From the repository root directory, run this command to build the image
[code]
Run the image
[c

[2021-07-25 14:41] #18 closed

[2021-07-25 14:42] #15 closed

[2021-07-25 20:42] eb-mikegorecki commented on #27
Awesome. This cleared my issue. Not sure what I was doing wrong before. I was building/releasing to a dist folder. Then copying the dist folder to the container and building the container in my CI/CD process.

Anyways, thanks for the help!

[2021-07-25 20:42] #27 closed

[2021-08-13 16:00] litan1106 commented on #20
@soundaranbu any plan on the .net 6 support? the .net6 RTM will be on Nov 2021

[2021-08-13 16:12] soundaranbu commented on #20
Yes! Right now v1.5.0 works with  .NET 6 preview versions. But planning for v1.6.0 that has .NET 6 as base version.

[2021-09-12 02:35] ins0mniaque commented on #26
I think this should be possible with a custom IFileProvider and Razor runtime compilation.

- Razor runtime compilation: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-5.0
- Custom IFileProvider example: https://github.com/mikebrind/RazorEngineViewOptionsFileProviders

I tried configuring services as follows:
[code]

and when calling RazorTemplateEngine.Ren

[2021-09-13 13:09] soundaranbu commented on #26
Looks promising :) will give it a try. Thanks!

[2021-09-26 12:00] soundaranbu commented on #20
New preview version `v1.7.0-preview.1` released with .NET 6 support https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.7.0-preview.1
Kindly try it & let me know if there are any issues.

[2021-10-20 14:46] VictorDevmetro opened #30 "System.InvalidOperationException issue in 1.6"
/* CS*/
return await RazorTemplateEngine.RenderAsync($"~/Views/{rendererActionName}.cshtml", viewModel, viewData);

/*CSHTML*/
@model ForgotPasswordEmail

This cimple code genereate exception **"System.InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'EmailTemplates.ViewModels.ForgotPasswordEmail', but this ViewDataDictionary instance requires a model item of

[2021-10-22 12:46] juliocdeleonb opened #31 "Running asp.net core project with dotnet watch run no longer detects changes to .cshtml files"
I'm having this issue running version 1.6.0 with .NET 5. Functionality wise, there is no problem with the component, however, when running the project via dotnet watch run, it no longer detects changes to .cshtml files. Code files .cs works fine. In order to rule out if it is my project alone, I created a new asp.net core Web App using the Visual Studio template and without any modifications at al

[2021-10-30 13:21] soundaranbu commented on #31
Hi @juliocdeleonb , I'm unable to replicate this issue. You can try this sample project & let me know https://github.com/soundaranbu/RazorTemplating/tree/v1.6.0/examples/Mvc/ExampleWebApp.Net5_0

I tried in both Visual Studio 2019 & `dotnet watch`. Whenever I changed something in the view, it got reflected on reloading the page.

[2021-11-05 16:30] soundaranbu commented on #30
Thanks, I'll take a look.

[2021-11-05 16:57] soundaranbu commented on #30
Hi @VictorDevmetro , When we remove `RazorTemplateEngine.Initialize();` from your Program.cs, the error is gone. The library creates the cache itself when it's run for the first time. So you can safely remove it.

I'll investigate why it's throwing error in your use case in `v1.6.0`

[2021-11-05 17:18] soundaranbu commented on #30
**Update:** Problem is specific to worker service when `RazorTemplateEngine.Initialize();` is called in bootstrap code in `v1.6.0`. It's advised to remove this line until a fix is released.
Please note, removing this line doesn't make any big difference. The core feature will work as before.

Thanks!

[2021-11-08 08:08] VictorDevmetro commented on #30
Thx. It fixed my problem.

[2021-11-13 11:55] soundaranbu commented on #20
Support for .NET 6 is now released as stable version `1.7.0`.
https://github.com/soundaranbu/RazorTemplating/releases/tag/v1.7.0

Users of .NET 5 upgrading to .NET 6 should be using `v1.7.0`
Thanks!

[2021-11-13 11:55] #20 closed

[2021-11-13 11:57] soundaranbu commented on #30
Issue fixed in `v1.7.0` in .NET 6

[2021-11-13 11:57] #30 closed

[2021-11-13 11:58] soundaranbu commented on #31
Closing as it's not reproducible. Feel free to re-open if need to discuss further. Thanks!

[2021-11-13 11:58] #31 closed

[2021-11-13 12:01] soundaranbu commented on #13
Unfortunately, this couldn't be achieved. Any community PR is welcome. Until then, please use the workaround described here https://github.com/soundaranbu/RazorTemplating/issues/13#issuecomment-752082884

[2021-11-13 12:01] #13 closed

[2021-11-13 22:56] BonnieSoftware opened #32 "Is there a way we can specify an absolute path when calling RenderAsync"
Is there a way we can specify an absolute path when calling RenderAsync?

When I try this at the moment I get an error:

System.InvalidOperationException: 'Unable to find view 'C:\USERS\TEST\SOURCE\REPOS\TEST\TEST.WEBSITE.WEBPAGES\Index.cshtml'. The following locations were searched:
/C:\USERS\TEST\SOURCE\REPOS\TEST\TEST.WEBSITE.WEBPAGES\Index.cshtml

It looks like the prepended / is causing the i

[2021-11-15 17:16] soundaranbu commented on #32
Hi @BonnieSoftware, upto my knowledge absolute path is not supported and it's not recommended as well. May I know your use case?

[2021-11-15 23:31] BonnieSoftware commented on #32
Hi, the Razor Templating library is very useful for creating shared templates that are used across multiple websites, and will likely be stored on one or more drives, so being able to specify an absolute path would be good. Another use case is when creating a command line tool and wanting to pass in an argument to specify the location of the razor template to build, this was easy to achieve in ASP

[2021-11-17 04:30] soundaranbu commented on #32
Ok.. In this library all the views are compiled at the build time using Razor SDK. No runtime compilation happening. So for sharing the same views across multiple websites, you can consider referencing the same RCL project across different applications & specify the relative path ( like I've done [here](https://github.com/soundaranbu/RazorTemplating/tree/master/examples) )

[2021-11-17 13:54] arnithin-rda opened #33 "Unable to resolve System.Diagnostics.DiagnosticSource"
Hi,

I am using azure functions and when I try to call RazorTemplateEngine.RenderAsync(), I am getting below error.
 **Microsoft.Extensions.DependencyInjection: Unable to resolve service for type 'System.Diagnostics.DiagnosticSource' while attempting to activate 'Microsoft.AspNetCore.Mvc.Razor.RazorPageActivator'.**

My Azure functions csproj looks like this,
`<Project Sdk="Microsoft.NET.Sdk">
  <

[2021-11-20 15:40] soundaranbu commented on #33
Hi @arnithin-rda , Since this issue occurs only on a particular project of yours, I would like you to kindly upload a sample repo to reproduce the issue.
Otherwise, you can try comparing the working one vs non-working one & eliminate the differences one by one

I suspect these dependencies `<PackageReference Include="Microsoft.AspNetCore.Mvc.Core" Version="2.2.5" /> <PackageReference Include="Micr

[2021-11-22 16:55] BonnieSoftware commented on #32
Build time compilation is what I was trying to achieve. I'm effectively using Razor (without MVC) to produce a static HTML site, so using a limited subset of features. I could see you were using the Razor Engine instead of reinventing the wheel which is why I was attracted to this project. The tool I was working on would have been ran on the command line so would have no knowledge of projects, so

[2021-12-01 16:03] sjd2021 commented on #26
Like @gr8tushar  mentioned, our use case is that we have several user/customer-specific templates and as such they are stored either on the cloud or in the database for editing purposes. This library makes the email generation process so easy especially since we can use dependency injection to ensure we're only retrieving the data and services needed for any given template. Based on your comment h

[2021-12-02 14:14] awatertrevi commented on #15
Hi @soundaranbu,

Apologies for my late reply. It works great 👍 !

[2021-12-27 19:44] Fido789 opened #34 "Templates in the same assembly as the application"
Hello,

Your library looks very promising, but I can not get it working with the templates in the same assembly (project) as the application. In the other words, I would like to have all files in one assembly. Is this possible?

[2021-12-28 02:48] soundaranbu commented on #34
Hi @Fido789, Yes it's possible. But the project needs to target `Microsoft.NET.Sdk.Razor` so that it can compile the view files.
and have `AddRazorSupportForMvc` in the property group, similar to [this](https://github.com/soundaranbu/RazorTemplating/blob/master/examples/Templates/ExampleAppRazorTemplates/ExampleRazorTemplatesLibrary.csproj).

[2022-01-02 19:06] dev-vkagrawal opened #35 "Form action method not forming"
When we use regular `<form>` attribute with asp-controller and asp-action html tag helpers then final output does not contain action property of form, instead it contains blank action value on specified `<form>` like `<form action="" method="post">... </form>`
Any solution please?

[2022-01-03 03:07] soundaranbu commented on #35
Hi @dev-vkagrawal, is this console app or mvc?

[2022-01-03 18:47] dev-vkagrawal commented on #35
Hi @soundaranbu it is from mvc application. From controllers' action method I want to return view's string content along with some other couple of data.
Everything seems returning properly except the form action value when used with asp-controller and asp-action.

[2022-01-06 04:29] soundaranbu commented on #35
Ok I'll look into it this weekend. Between what version of dotnet and the library are you using?

[2022-01-07 17:10] dev-vkagrawal commented on #35
I am using .Net Core 3.1

[2022-01-07 19:19] Fido789 commented on #34
Hello @soundaranbu , I finally managed to get it working and I must say so far I am very impressed. Everything works very well, just as you expect it to work, great library, thank you!

[2022-01-08 15:22] glararan opened #36 "Pass ViewBag object"
Hi,

I would like to know how to pass ViewBag object? There is no documentation nor example contains ViewBag usage.

Should I pass ViewData dictionary and access it via ViewBag?

Asking as I am migrating from RazorLight.

EDIT:
Rather than starting new issue I will ask here.. I have dir EmailTemplates in root. However inside e.g. /EmailTemplates/Registration I am using _Layout located in /EmailTem

[2022-01-09 09:50] soundaranbu commented on #36
Hi @glararan, thanks for reporting your issue. Yes. Both `ViewData` and `ViewBag` should be passed in the same dictionary object. I'll add it in the documentation.

Thanks :)

[2022-01-09 14:23] soundaranbu commented on #34
Glad it worked! Thanks @Fido789

[2022-01-09 14:23] #34 closed

[2022-01-09 14:31] soundaranbu commented on #36
I've updated documentation. Feel free to reopen if you find any issues. Thanks!

[2022-01-09 14:31] #36 closed

[2022-01-10 17:23] dev-vkagrawal commented on #35
Thanks @soundaranbu can you please tell me which version of nuget package with a fix would be compatible with .Net core 3.1 ?

[2022-01-10 18:03] soundaranbu commented on #35
Hi @dev-vkagrawal , Currently the fix is in testing phase. I'll release a preview version in one or two days. I'll let you know by then. Thanks

[2022-01-13 02:59] soundaranbu commented on #35
Hi @dev-vkagrawal, I've made a pre-release `v1.6.1-rc.1`. please it try out and let me know https://www.nuget.org/packages/Razor.Templating.Core/1.6.1-rc.1

Thanks.

[2022-01-23 10:09] soundaranbu commented on #33
Closing this issue as there's no update. Please feel free to re-open if required. Thanks!

[2022-01-23 10:09] #33 closed

[2022-01-25 16:04] dev-vkagrawal commented on #35
Hi @soundaranbu it does not seem working with either version. Still action property of <form> is blank.

[2022-01-25 16:12] soundaranbu commented on #35
Ok that's weird. if possible, please send a sample project to reproduce the issue. otherwise, it'll be hard to look into this further. thanks!

[2022-01-29 17:21] dev-vkagrawal commented on #35
It is simple mvc project and I have regular view with form element and action property on it. When trying to get html of such view then just action property is blank in resultant view string.

[2022-01-31 02:01] soundaranbu commented on #35
Ok then you might need to take a look at this sample mvc project which renders the form action method properly and let me know how it works for you.

Checkout branch: `release/1.6.x`
https://github.com/soundaranbu/RazorTemplating/tree/release/1.6.x/examples/Mvc/ExampleWebApp.NetCore3_1

Look for this action method: https://github.com/soundaranbu/RazorTemplating/blob/1ff2c21c0ee4b9bd218f4b6f0cca938

[2022-02-08 17:59] dev-vkagrawal commented on #35
Hi, I cloned project but solution explorer shows just .Net 6 project, while I am trying to see .Net Core 3.1 project to test. Can you please tell me what else I need to change to make it work with .net core 3.1?
Please see attached image.
![image](https://user-images.githubusercontent.com/58482443/153046390-90c9ff4d-66f3-4846-9217-9340a08457ba.png)

[2022-02-09 06:05] soundaranbu commented on #35
Hi @dev-vkagrawal, please checkout branch  `release/1.6.x` where you can find the project

[2022-02-26 09:17] soundaranbu commented on #32
Hi @BonnieSoftware. I just got a chance to try this scenario. The below snippet works in `v1.7.0`. I know it's late. But if you're still looking for this, you can try it and let me know how it works for you. Thanks!

[code]
**Note**: ViewModel, ViewData, ViewBag can also be passed

[2022-03-02 13:58] soundaranbu commented on #26
I tried this approach. This is working in `v1.7.0`. I'll be adding samples for this in the coming days. Also, I'm adding some helper classes. so that, it's easier to implement.

[2022-03-02 18:03] ins0mniaque commented on #26
This is a great new feature. Thanks!

[2022-04-14 06:55] ABergBN commented on #32
@soundaranbu used it inside a console application and its working (y)

[2022-04-20 12:44] cadilhac opened #38 "Accept ViewData and ViewBag as Anonymous object"
Hi,

Found your library after coming from RazorLight for which I was so disappointed by the author who has been condescending and unpleasant relatively to a simple question I was asking.
I thought such library was quite difficult to write but I found yours is such easy to use and feature complete (views where you expect them to be, Layout, ViewImports)... Really, this is a great job. Thank you for

[2022-04-20 14:23] soundaranbu commented on #38
Hi @cadilhac, glad to know that you find this library helpful and easy to use.

and for your suggestion, yes, it's a good to have feature and will be more intuitive for the users. I'm thinking of implementing it in the upcoming versions.

Keep supporting. Thanks!

[2022-04-20 17:31] cadilhac opened #39 "Why 3 overloads for RazorTemplateEngine.RenderAsync?"
Hi,

I have some generic piece of code that calls RazorTemplateEngine.RenderAsync with 3 arguments. But sometimes, model or viewdata could be null. In that case I have a compiler warning.
I wonder if this would not be better to have a single signature with 3 arguments where model and viewdata accept null.
Otherwise, the client app has to write some "if" code, testing for null and calling the right

[2022-04-21 18:36] cadilhac opened #40 "Issue with UrlHelper"
Hi,

I try to generate a link inside a template, using:

[code]

RouteUrl returns null.

Thanks

[2022-04-28 05:47] soundaranbu commented on #39
Hi, that's a valid concern. I'll see if we can address them in the upcoming releases(without any breaking changes).
Thanks.

[2022-04-28 05:49] soundaranbu commented on #40
Hi, Please assist with more info:

.NET Version:
Project Type:
Razor.Templating.Core Version:
Expected Output:
Sample repo to reproduce(if possible):

[2022-05-06 19:25] HoehensteigerGames opened #41 "External css files do not work"
I tried everything i knew but it was not possible to use an external CSS file.
Everything works fine like in the document and in the example.

that is a screenshot of my current Project:
![image](https://user-images.githubusercontent.com/58444802/167204396-06d44124-0a30-40a3-a136-9cc458c8dfef.png)

What have i don wrong? is it possible to use External css files?

[2022-05-08 15:30] soundaranbu commented on #41
Hi @HoehensteigerGames, I'll look into this & let you know. In the mean time, let me know what's your expected output? & what's your final goal after rendering the template?
If you're doing this for email templating, I would suggest you to keep the styles in the same file.

[2022-05-08 15:33] #32 closed

[2022-05-08 16:54] soundaranbu commented on #40
Hi @cadilhac, I had a look. `@Url.RouteUrl` will work only in MVC app as it requires the [routing features](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-6.0#generate-urls-by-route) which is not supported by the library.
A quick workaround is to call `@Url.RouteUrl` from the controller action method & then pass it to the ViewModel.
Hope it helps. Thanks.

[2022-05-09 18:20] cadilhac commented on #40
Yes. Sorry, I had not been able to create a repro yet. And yes, I'm using MVC and was already creating the link in the controller as a workaround. Sad that you can't solve it. Cheers.

[2022-05-12 17:08] HoehensteigerGames commented on #41
yes thats the goad. I Want to get an Email template and yes at the moment i will use them in the same file. But the mail will be very big. So it would be conventient to split up the file.

[2022-06-06 19:41] vladopandzic opened #44 "AWS lambda support?"
I tried using this library on AWS lambda but I get error than views are unable to find.
My views are localted in separate RLC which I referenced from lambda project

[2022-06-08 05:15] soundaranbu commented on #44
Hi @vladop , I haven't tested on AWS lambda yet. I'll test & let you know.

[2022-06-10 08:15] NichlasNielsen commented on #26
Hello, any idea when this will be available to use?

[2022-06-14 08:56] soundaranbu commented on #26
Hi @NichlasNielsen, this feature is already possible. Please refer to the above commit for sample implementation. I'll need to add  documentation for this. I'll do that once I get some free time. Thanks.

[2022-06-14 13:53] Joffreyvl commented on #26
Does this work for azure functions, I can't get it to work?

[2022-06-14 15:52] soundaranbu commented on #26
Hi @Joffreyvl, technically it should work. But I need to try once to confirm. In the meantime, please upload a sample project if possible. I'll take a look. Thanks.

[2022-06-15 08:11] soundaranbu commented on #26
Ok, I can the see the problem already. Make sure, you've followed the steps here for creating the razor class library https://soundaranbu.medium.com/render-razor-view-cshtml-to-string-in-net-core-7d125f32c79

[2022-06-15 08:21] Joffreyvl commented on #26
@soundaranbu do you need a razor class library when you are doing runtime compilation? I am trying to read cshtml files from a blob storage account.

[2022-06-15 09:24] soundaranbu commented on #26
That's a valid point. It's not necessary. However, you'll need to make [these changes](https://github.com/Joffreyvl/RazorTemplating.Function/compare/master...soundaranbu:master) to make it to work.

[2022-07-12 17:39] daef opened #45 "Unexpected AspNetCore dependency"
If I read the readme correct this library is supposed to work in a 'normal' net6 console app?

For me referencing the nuget Razor.Templating.Core results in a requirement for Microsoft.AspNetCore.App. Is this intended?

[code]

[2022-07-12 22:22] soundaranbu commented on #45
Hi @daef, yes this is intended.

[2022-07-14 08:59] daef commented on #45
Oh, so there's no 'aspnet-free razoring' in the end. Nvmnd, guess I can close this then.

[2022-07-14 08:59] #45 closed

[2022-08-29 09:41] dradovic opened #46 "AddRazorTemplating Not Thread-Safe"
Occasionally, I see the following call-stack in our CI:

[code]

We have many tests in our CI that are executed in parallel so there might be a race condition here. Do you think you are able to make `AddRazorTemplating` thread-safe?

[2022-08-29 10:12] soundaranbu commented on #46
Hi @dradovic, Thanks for reporting the issue.

`RazorTemplateEngine` was designed to be a single instance application-wide using a static property. Because recreating the template engine every time is an expensive operation.

But I will see if I can tweak this to make it thread-safe.

Until then you can either move the initialization to the global level or run the test cases sequentially.

[2022-08-29 15:46] dradovic commented on #46
Thanks for looking into this. Let me know how it goes.

[2022-08-30 18:37] bentoaldohax opened #47 "System.InvalidOperationException: Unable to find view"
I created a Razor class library where I put my view, but the RenderAsync method can't find the view and throws this exception. I don't know what I am doing wrong.

----
System.InvalidOperationException: Unable to find view '~/Notifications.EmailTemplates/Invoice.cshtml'. The following locations were searched:
~/Notifications.EmailTemplates/Invoice.cshtml
Hint:
- Check whether you have added refere

[2022-08-31 06:08] soundaranbu commented on #47
Hi @bentoaldohax, please remove the project name from the view path & then try again.

[2022-08-31 13:32] bentoaldohax commented on #47
It works. Thanks.

[2022-08-31 13:32] #47 closed

[2022-08-31 17:10] bentoaldohax commented on #41
Is there any update on this? I am having the same problem.

[2022-08-31 17:50] soundaranbu commented on #41
Yes there's an update. I updated the README but missed to update here. `@Url.Content` is not supported by the library.
If the aim is to keep the styles separate, please try partial view instead. Otherwise we need to keep it in the same file only.
Hope it helps.

[2022-09-09 19:12] pbolduc commented on #26
With my recent PR, the function `public static void AddRazorTemplating(this IServiceCollection services)` could be extended to allow customizing the MvcRazorRuntimeCompilationOptions, such as `public static void AddRazorTemplating(this IServiceCollection services, Action<MvcRazorRuntimeCompilationOptions>? setupOptions)` and if `setupOptions` is not called, then `services.Configure<MvcRazorRuntime

[2022-09-13 19:56] pbolduc commented on #46
Hi, I have a pull request #48 that should hopefully address your concerns. Can you take a look and provide any feedback to changes for your use case.

[2022-09-13 19:57] pbolduc commented on #25
Hi, I have a pull request #48 that should hopefully address your concerns. Can you take a look and provide any feedback to changes for your use case.

[2022-09-13 20:00] pbolduc commented on #26
Hi, I have a pull request #48 that should hopefully address your concerns. Can you take a look and provide any feedback to changes for your use case.  In this case, you will need to use the following approach to initialize

[code]

and either use the static method `RazorTemplateEngine.RenderAsync(...)` or you can inject in an instance of `IRazorTemplateEngine` into your defendant service.  Hopeful

[2022-09-16 15:56] pbolduc opened #49 "New Feature: Check if template exists"
It would be useful to expose a away to determine if a template exists or not. Instead of changing the `RazorTemplateEngine`, a new type could be introduced that encapsulates the logic in RazorViewToStringRenderer.FindView

I have a use case where I need to generate emails. Parts of an email that may need rendering are:

- Subject
- Plain Text Body
- HTML Body

Some emails may have plain text, some

[2022-09-16 21:07] pbolduc commented on #49
This could work, but we wound need to ensure the only reason it doesnt render is because the template doesn't exist. If there is a problem rendering it because of a bug (NullReferenceException I am looking at you), then those exceptions should still flow through. I wouldn't want it just to fail and return false because of any random error.

[2022-09-18 05:06] soundaranbu commented on #49
Ok, then we need to be more explicit on the method name. `TryRenderIfViewExistsAsync()` would be more appropriate. What do you think?

[2022-09-18 05:11] soundaranbu commented on #46
Hey @dradovic, please try the fix in [v1.8.0](https://github.com/soundaranbu/Razor.Templating.Core/releases/tag/v1.8.0-rc.1) and let us know!

[2022-09-18 05:12] soundaranbu commented on #39
Hey @cadilhac, this is now implemented in https://github.com/soundaranbu/Razor.Templating.Core/releases/tag/v1.8.0-rc.1

Thanks for your valuable suggestion!

[2022-09-18 05:12] #39 closed

[2022-09-18 05:14] soundaranbu commented on #25
Hey @anddrzejb, if possible please try the fix in the new prerelease version and let us know! https://github.com/soundaranbu/Razor.Templating.Core/releases/tag/v1.8.0-rc.1

[2022-09-18 18:23] anddrzejb commented on #25
Hi! I have a very little time to play around here. Unfortunatelly, bumping the version 1.8.0-rc.1 does not seem to work for the repro I mentioned in my second post in this issue. The `@inject` does not seem to provide me with `State` from the container. However I did not have any time to play around with this. Is there anything new in the dependency area that I should try or the new solution shoul

[2022-09-19 06:02] soundaranbu commented on #25
Oh sorry that I didn't mention the change. We need to inject the `IRazorTemplateEngine` instance instead of using the `RazorTemplateEngine` static class. So in your `.razor` file, you can try:
[code]

[2022-09-19 06:33] soundaranbu commented on #35
Closing this one as I have shown the output with screenshots https://github.com/soundaranbu/Razor.Templating.Core/issues/35#issuecomment-1025310067

In case, if you still have issues, feel free to reopen. Thanks :)

[2022-09-19 06:33] #35 closed

[2022-09-19 18:11] pbolduc commented on #49
Would it make sense to create a `ViewNotFoundException`? This exception could inherit from in current InvalidOperationException to maintain backward compatibility. We would change the non "try" version to throw ViewNotFoundException. This helps to distinguish between the library unable to find the view and the user doing something that will throw InvalidOperationException (ie accessing the `.Value

[2022-09-19 18:36] anddrzejb commented on #25
Indeed that was enough. I must admit I find the solution quite unintuitive (the injection part, not the version bump), however it does work. Thank you for your work guys!

[2022-09-19 18:36] #25 closed

[2022-09-19 19:35] pbolduc commented on #25
The static class makes it easy to get started, especially for those use cases where your application/service doesn't natively use DI, like Azure Functions or a console app. However, in the more feature rich environments like your use case, using an injected service in the correct scope appeared to be a reasonable solution. Also, using an injectable service, it allows components to be tested indepe

[2022-09-19 19:43] pbolduc commented on #46
You will want to move away from the static `RazorTemplateEngine` class and inject in a `IRazorTemplateEngine` instance to your services.  the `RazorTemplateEngine` static class maintains an internal lazy created instance of `IRazorTemplateEngine`. If you attempt to use the `AddRazorTemplating()` function after rendering a view using the static class, the internal instance will be reset to uninitia

[2022-09-20 06:43] dradovic commented on #46
I’m currently traveling but I’ll have a look latest tomorrow. Thanks.

[2022-09-21 11:51] dradovic commented on #46
So I have upgraded to RC1 and I've switched to using the injected `IRazorTemplateEngine`'s `RenderAsync` method instead of the static one. Outcome: the rendered HTML looks fine (I didn't spot any regression) and I've retriggered the CI for 10x without having any concurrency issues.
So it seems you guys made a great job! Thank you very much!

@soundaranbu So, I guess you'll release 1.8.0 soon?

[2022-09-21 11:51] #46 closed, assigned to soundaranbu

[2022-09-22 13:26] soundaranbu commented on #46
Hi @dradovic, glad that it works for you. All thanks to @pbolduc for his contribution :)

Yes, I'll release v1.8.0 soon. Probably in a week or so.

[2022-09-22 13:28] soundaranbu commented on #49
That's a good idea! I'll think through it & get back to you.

[2022-10-06 00:01] oferze opened #50 "Fix semantic versioning"
Beginning at version 1.7.0, the package is dependent on .NET Core (specifically.NET 6 I think).
I think this warrants upping to a new major version 2.0.0

Currently, when using the package in a .NET Framework project, NuGet suggests upgrading from say 1.6.0 to 1.7.1 but the upgrade is not possible because of this dependency.

[2022-10-12 08:56] soundaranbu commented on #50
What is your .NET version? It won't be possible to use this library in .NET Framework as it targets only .NET Core from the beginning (.NET Core 3.0 & above).

Since v1.7.0, it targets only .NET 6 as it became too difficult to multi target all the lower versions and keep the library working in all new dotnet versions.

`v2.0.0` was not chosen mainly because there's no breaking change in the public

[2022-10-24 15:09] kurtcodemander opened #51 "Support for Native AoT in .net 7?"
I'm looking for a Razor templating solution which could work with AoT compilation in .net 7, with `<PublishAot>true</PublishAot>`.

When visiting http://localhost:5000 the following example correctly returns text/html and the rendered view if starting with debugging (without AoT). But after publishing with AoT it returns application/json and emty json {} in the browser.

Why? Is it possible to mak

[2022-10-25 14:45] soundaranbu commented on #51
Hi @kurtcodemander, thanks for raising the issue. Although I wish that I could add support for NativeAOT, the underlying ASP.NET Core MVC itself needs support for it. Only then, it will be possible for our library to add support as it's a wrapper around the MVC. As of .NET 7 timeframe, we could see that the NativeAOT is mainly focused on [console applications](https://github.com/dotnet/runtime/iss

[2022-10-25 14:49] soundaranbu commented on #50
Hope I've explained the best that I can. Please feel free to re-open if necessary.

[2022-10-25 14:49] #50 closed

[2022-10-25 15:03] kurtcodemander commented on #51
Thanks @soundaranbu, I found a great micro-framework by David Fowler which is AOT friendly and suits my needs for now as a workaround. Although it doesn't support Razor.

https://github.com/davidfowl/uController

I'll keep an eye on your repository for the future.

[2022-11-04 09:30] dradovic commented on #46
I'm still interested and waiting for an official release :)

[2022-11-04 09:57] soundaranbu commented on #46
Hi @dradovic, I understand that it's overdue. The last several weeks have been hectic for me. Please expect it this weekend. Thanks :)

[2022-11-05 13:59] soundaranbu commented on #46
Hi @dradovic, stable version is now released https://www.nuget.org/packages/Razor.Templating.Core/1.8.0

Thanks!

[2022-11-13 14:07] soundaranbu opened #53 "Add option to render views without layout"
This is to refer to an issue for PR #52 by @mobiletonster

[2022-11-13 15:26] soundaranbu commented on #53
Hi @mobiletonster, your contributions are now merged into the main branch, and a pre-release package has been released.
 https://github.com/soundaranbu/Razor.Templating.Core/releases/tag/v1.9.0-rc.1

Let me know how it works for you.

Appreciate your time and efforts to bring useful features to the library!  🙌

[2022-11-21 08:30] aleksandaryanakiev opened #54 "Unable to find view (After publish)"
When I run locally my code everything works as expected, but after I publish it in docker I get this error:

`An Exception has occured when generating PDF Document: Unable to find view '~/Views/CashBookTemplate.cshtml'. The following locations were searched:
~/Views/CashBookTemplate.cshtml
Hint:
- Check whether you have added reference to the Razor Class Library that contains the view files.`

Can

[2022-11-21 08:32] soundaranbu commented on #54
Hi @aleksandaryanakiev, thanks for reporting the issue. Is it possible for you to provide a minimal sample that reproduces the issue?

[2022-11-29 22:38] vladop opened #55 ".NET 7 support"
After upgrading from .net5 and 1.6.0 version to .net7 and v1.8.0 version I get exception:

System.MissingMethodException : Method not found: 'System.Threading.Tasks.Task`1<System.String> Razor.Templating.Core.RazorTemplateEngine.RenderAsync(System.String, System.__Canon)'.

[2022-11-29 22:44] #55 closed